<section>
  <div class="card hq-card has-background-light">
    <h2 class="has-text-black has-text-centered">Welcome To Headquarters</h2>
    <p class="has-text-black has-text-centered">
      Welcome to the best study app in the world!!!!!!!!
    </p>
  </div>
  <div class="card current-tasks">
    <h2 class="has-text-black has-text-centered">Current Tasks</h2>
    {{#each todos as |todo|}}
      <a
        class="button {{todo.colour}} notification hq-todo-list"
        data-id="{{todo.id}}"
        data-title="{{todo.title}}"
        data-colour="{{todo.colour}}"
      ><h2 class="has-text-centered">
          {{todo.title}}
        </h2>
      </a>
    {{/each}}

  </div>
  <div class="card current-tasks">
    <h2 class="has-text-black has-text-centered">Study Time Remaining:</h2>
    <p class="has-text-black time-title" id="time-title">
      No Study Time Set
    </p>
  </div>
</section>

<script src="js/hq/hq.js" type="module"></script>