<section>
  <div class="card hq-card has-background-light">
    <h2 class="has-text-black has-text-centered">Welcome To Headquarters</h2>
    <p class="has-text-black has-text-centered">
      Time to kick some goals!
    </p>
  </div>
  <div class="card current-tasks">
    <h2 class="has-text-black has-text-centered">Current Tasks</h2>
    {{#each todos as |todo|}}
      <a
        class="button {{todo.colour}} notification hq-todo-list"
        data-id="{{todo.id}}"
        data-title="{{todo.title}}"
        data-colour="{{todo.colour}}"
      ><p class="has-text-centered">
          {{todo.title}}
        </p>
      </a>
    {{/each}}

  </div>
  <div class="card current-tasks is-hidden" id="hq-timer-container">
    <h2 class="has-text-black has-text-centered" id="time-heading"></h2>
    <p class="has-text-black time-title" id="hq-time-title">
    </p>
  </div>
</section>

<script src="js/hq/hq.js" type="module"></script>